*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.row > * {
  padding: 0;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: black;
}

small {
  font-size: 0.65em;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  font-size: 0.7em;
}

.btn-secondary {
  background-color: #213c85;
  border: 1px solid #213c85;
}

.btn-secondary:hover {
  background-color: #172a5c;
  border: 1px solid #172a5c;
}

.btn-secondary:focus {
  background-color: #172a5c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: #21853f;
  border: 1px solid #21853f;
}

.btn-primary:hover {
  background-color: #175c2c;
  border: 1px solid #175c2c;
}

.btn-primary:focus {
  background-color: #175c2c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar {
  background-color: #213c85;
  height: 10vh;
}

.navbar nav {
  width: 100%;
}

.navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .logo h1 {
  font-style: italic;
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
}

.navbar .nav-search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .nav-search input {
  background-color: #264599;
  border: none;
  color: #fff;
}

.navbar .nav-search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .nav-search input::-webkit-input-placeholder {
  color: #d3ded38e;
  font-style: italic;
}

.navbar .nav-search input:-ms-input-placeholder {
  color: #d3ded38e;
  font-style: italic;
}

.navbar .nav-search input::-ms-input-placeholder {
  color: #d3ded38e;
  font-style: italic;
}

.navbar .nav-search input::placeholder {
  color: #d3ded38e;
  font-style: italic;
}

.navbar .nav-search .search-btn {
  background-color: #272525;
  color: #fff;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.navbar .nav-cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .nav-cart .cart p {
  color: #fff;
}

.navbar .nav-cart .cart svg {
  font-size: 1.82em;
}

.navbar .nav-cart .cart .cart-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -10px;
  right: -15px;
  border: 1px solid #21853f;
  background-color: #175c2c;
  font-size: 0.6em;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner {
  background-color: #d3ded38e;
  background-image: url("../images/road.jpg");
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.banner .banner-intro {
  background-color: #fff;
}

.banner .banner-intro h2 {
  font-size: 1.4em;
}

.banner .banner-intro h6 {
  background-color: #e6da39;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 0.2em;
}

.banner .banner-intro p {
  font-size: 0.8em;
}

.home-search {
  padding: 2em 8em;
  background-color: #213c85;
}

.home-search h4 {
  color: #fff;
  font-weight: 600;
}

.home-search h4 span {
  color: #fff;
  font-weight: 400;
}

.home-search .options label {
  font-weight: 200;
  color: #fff;
  font-size: 0.7em;
}

.home-search .options select {
  font-size: 0.8em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-search .options .option-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-search .options .btn {
  font-weight: 600;
}

.home-search .options .btn svg {
  font-size: 1.1em;
}

.home-products .disclaimer {
  background-color: #213c85;
  height: 100%;
}

.home-products p {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

.product {
  height: 100%;
}

.product a {
  color: #213c85;
  font-weight: 600;
  font-size: 0.8em;
  text-decoration: none;
}

.home-showcase h6 {
  color: #213c85;
  font-weight: 700;
  font-size: 1.2em;
}

.home-showcase .case {
  padding: 4em 2em;
  background-color: #294ba6;
  text-align: center;
}

.home-showcase .case h4,
.home-showcase .case p {
  color: #fff;
}

.home-showcase .case h4 {
  font-weight: 600;
}

.home-showcase .case p {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 0.7em;
}

.home-showcase .case-dark {
  height: 100%;
  background-color: #213c85;
}

.cart-header h3 {
  color: #213c85;
  font-weight: 600;
}

.products-title small {
  font-weight: 500;
}

.products-list .product-item {
  max-height: 35vh;
  height: 35vh;
}

.products-list .product-item .product-name {
  font-size: 0.7em;
  font-weight: 500;
}

.products-list .product-item .product-price {
  color: #1c7135;
  font-weight: 600;
}

.products-list .product-item .product-price span {
  color: #213c85;
  font-size: 0.65em;
}

.products-list .products-intro {
  font-size: 0.8em;
}

.products-list .product-image img {
  width: 100%;
  height: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-info .btn {
  font-size: 0.9em;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.product-info .btn svg {
  color: #fff;
}

.product-info .product-price p {
  font-size: 3em;
  color: #21853f;
  font-weight: 600;
}

.product-info .product-price span {
  font-size: 1.5em;
}

.cart-table {
  font-size: 0.7em;
}

.cart-table input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid black;
}

.cart-table p {
  font-weight: 400;
}

.cart-table thead {
  background-color: #d3ded38e;
}

.cart-table th {
  vertical-align: middle;
}

.cart-table th img {
  width: 100%;
}

.cart-table th:nth-of-type(1) {
  width: 10%;
}

.cart-table th:nth-of-type(2) {
  width: 10%;
}

.cart-table th:nth-of-type(3) {
  width: 50%;
}

.cart-table th:nth-of-type(4) {
  width: 10%;
}

.cart-table th:nth-of-type(5) {
  width: 20%;
}

.cart-table svg {
  font-size: 1.4em;
}

.cart-summary {
  font-size: 0.7em;
}

.cart-summary .total {
  font-weight: 600;
}

.footer {
  font-size: 0.7em;
  background-color: #0d1733;
}

.footer h5,
.footer p {
  color: #fff;
}

.footer p {
  padding-bottom: 0.5em;
}

.footer .footer-nav h5 {
  font-weight: 600;
}

.footer .footer-social h5 {
  font-weight: 400;
}

.footer .footer-social svg {
  font-size: 2em;
  color: #fff;
}
/*# sourceMappingURL=global.css.map */