$color-white: #fff;
$color-light: #fafafa;
$color-dark: rgba(0, 0, 0, 1);
$color-purple: #4338ca;
$color-blue: #213c85;
$color-red: #b73939;
$color-grey: #d3ded38e;
$color-green: #21853f;
$color-yellow: #e6da39;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.row > * {
	padding: 0;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	color: $color-dark;
}

small {
	font-size: 0.65em;
}

.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.btn {
	font-size: 0.7em;
}

.btn-secondary {
	background-color: $color-blue;
	border: 1px solid $color-blue;

	&:hover {
		background-color: darken($color-blue, 10%);
		border: 1px solid darken($color-blue, 10%);
	}

	&:focus {
		background-color: darken($color-blue, 10%);
		box-shadow: none;
	}
}

.btn-primary {
	background-color: $color-green;
	border: 1px solid $color-green;

	&:hover {
		background-color: darken($color-green, 10%);
		border: 1px solid darken($color-green, 10%);
	}

	&:focus {
		background-color: darken($color-green, 10%);
		box-shadow: none;
	}
}

.navbar {
	background-color: $color-blue;
	height: 10vh;

	nav {
		width: 100%;
	}

	.logo {
		flex: 1;

		h1 {
			font-style: italic;
			font-weight: 600;
			font-size: 2em;
			color: $color-white;
		}

		a {
			text-decoration: none;
			color: $color-white;
		}
	}

	.nav-search {
		flex: 1;
		input {
			background-color: lighten($color-blue, 5%);
			border: none;
			color: $color-white;

			&:focus {
				box-shadow: none;
			}

			&::placeholder {
				color: $color-grey;
				font-style: italic;
			}
		}

		.search-btn {
			background-color: rgb(39, 37, 37);
			color: $color-white;
			border-top-right-radius: 0.5em;
			border-bottom-right-radius: 0.5em;
		}
	}

	.nav-cart {
		flex: 1;
		.cart {
			p {
				color: $color-white;
			}

			svg {
				font-size: 1.82em;
			}

			.cart-counter {
				display: flex;
				top: -10px;
				right: -15px;
				border: 1px solid #21853f;
				background-color: #175c2c;
				font-size: 0.6em;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.banner {
	background-color: $color-grey;
	background-image: url('../images/road.jpg');
	background-position: center;
	background-repeat: no-repeat, repeat;
	background-size: cover;

	.banner-intro {
		background-color: $color-white;

		h2 {
			font-size: 1.4em;
		}

		h6 {
			background-color: $color-yellow;
			width: fit-content;
			font-weight: 700;
			padding: 0.2em;
		}

		p {
			font-size: 0.8em;
		}
	}
}

.home-search {
	padding: 2em 8em;
	background-color: $color-blue;

	h4 {
		color: $color-white;
		font-weight: 600;

		span {
			color: $color-white;
			font-weight: 400;
		}
	}

	.options {
		label {
			font-weight: 200;
			color: $color-white;
			font-size: 0.7em;
		}
		select {
			font-size: 0.8em;
			flex: 1;
		}

		.option-wrapper {
			flex: 1;
		}

		.btn {
			font-weight: 600;
			svg {
				font-size: 1.1em;
			}
		}
	}
}

.home-products {
	.disclaimer {
		background-color: $color-blue;
		height: 100%;
	}

	p {
		color: $color-white;
		font-size: 1em;
		font-weight: 600;
	}
}

.product {
	height: 100%;

	a {
		color: $color-blue;
		font-weight: 600;
		font-size: 0.8em;
		text-decoration: none;
	}
}

.home-showcase {
	h6 {
		color: $color-blue;
		font-weight: 700;
		font-size: 1.2em;
	}
	.case {
		padding: 4em 2em;
		background-color: lighten($color-blue, 8%);
		text-align: center;

		h4,
		p {
			color: $color-white;
		}

		h4 {
			font-weight: 600;
		}

		p {
			font-weight: 400;
			font-size: 0.8em;
			margin-bottom: 0.7em;
		}
	}

	.case-dark {
		height: 100%;
		background-color: $color-blue;
	}
}

.cart-header {
	h3 {
		color: $color-blue;
		font-weight: 600;
	}
}

.products-title {
	small {
		font-weight: 500;
	}
}

.products-list {
	.product-item {
		max-height: 35vh;
		height: 35vh;

		.product-name {
			font-size: 0.7em;
			font-weight: 500;
		}

		.product-price {
			color: darken($color-green, 5%);
			font-weight: 600;

			span {
				color: $color-blue;
				font-size: 0.65em;
			}
		}
	}
	.products-intro {
		font-size: 0.8em;
	}
	.product-image {
		img {
			width: 100%;
			height: 20vh;
			object-fit: contain;
		}
	}
}

.product-info {
	.btn {
		font-size: 0.9em;
		font-weight: 500;
		width: fit-content;

		svg {
			color: $color-white;
		}
	}
	.product-price {
		p {
			font-size: 3em;
			color: $color-green;
			font-weight: 600;
		}

		span {
			font-size: 1.5em;
		}
	}
}

.cart-table {
	font-size: 0.7em;

	input {
		&:focus {
			box-shadow: none;
			border: 1px solid $color-dark;
		}
	}

	p {
		font-weight: 400;
	}

	thead {
		background-color: $color-grey;
	}

	th {
		vertical-align: middle;

		img {
			width: 100%;
		}
	}

	th:nth-of-type(1) {
		width: 10%;
	}

	th:nth-of-type(2) {
		width: 10%;
	}

	th:nth-of-type(3) {
		width: 50%;
	}

	th:nth-of-type(4) {
		width: 10%;
	}

	th:nth-of-type(5) {
		width: 20%;
	}

	svg {
		font-size: 1.4em;
	}
}

.cart-summary {
	font-size: 0.7em;

	.total {
		font-weight: 600;
	}
}

.footer {
	font-size: 0.7em;
	background-color: darken($color-blue, 20%);

	h5,
	p {
		color: $color-white;
	}

	p {
		padding-bottom: 0.5em;
	}

	.footer-nav {
		h5 {
			font-weight: 600;
		}
	}

	.footer-social {
		h5 {
			font-weight: 400;
		}

		svg {
			font-size: 2em;
			color: $color-white;
		}
	}
}
